fastapi
uvicorn
python-dotenv
requests
livekit-agents
livekit-plugins-silero
livekit-plugins-turn-detector
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-assemblyai
livekit-plugins-cartesia